[PHOTON]

# Crie um aplicativo Fusion, versão 3, no painel da Photon e cole o App ID.
app_id="dafe46a5-0cb8-4662-9708-99287b9686da"

# Jogadores com versões diferentes não serão colocados na mesma sala.
app_version="0.34.0"

# Vazio = Photon escolhe automaticamente a melhor região.
# Exemplos comuns: "sa", "us", "eu".
default_region="sa"
